version: '3'
services:
  app:
    build: 
      context: .
      dockerfile: ./node/Dockerfile
    volumes:
      - '../app/:/app/'
    working_dir: /app
    ports:
      - 8000:8000
    entrypoint: /bin/sh /app/entry-point.sh